<div class="container mt-4">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="mt-0">Escuela de Educacion Secundaria Tecnica N°3 "15 de Septiembre" -San Isidro-</h1>
        </div>
        <div class="col-md-12">
            <!-- Cards -->
            <div class="row justify-content-center">
                <div class="col-md-2 col-sm-4">
                    <div class="card rounded">                      
                        <a routerLink="/novedades" class="centerLink"><i class="fa-solid fa-newspaper fa-2xl"></i><br>Novedades</a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="card rounded">
                        <a href="" class="centerLink"><i class="fa-solid fa-book fa-2xl"></i>Biblioteca Virtual</a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="card rounded">
                        <a href="" class="centerLink"><i class="fa-solid fa-wheat-awn-circle-exclamation fa-2xl"></i>Modulo Alimentario</a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="card rounded">
                        <a href="" class="centerLink"><i class="fa-solid fa-handshake-angle fa-2xl"></i>Cooperadora</a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="card rounded">
                        <a href="#contacto" class="centerLink"><i class="fa-regular fa-envelope fa-2xl"></i>Correo/Consulta</a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="card rounded">
                        <a href="#" class="centerLink"><i class="fa-solid fa-photo-film fa-2xl"></i>Videoteca</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
