<div class="partnerContainer">
  <div class="partner">
    <img class="encuentroImg" src="../../../assets/partner1.png" alt="Logo 1">
  </div>
  <div class="partner">
    <img class="imgwidth" src="../../../assets/partner2.png" alt="Logo 2">
  </div>
  <div class="partner">
    <img class="imgwidth" src="../../../assets/partner3.png" alt="Logo 3">
  </div>
</div>

<div class="partnerContainer">
  <div class="partner doubleWidth">
    <img class="imgwidth" src="../../../assets/partner4.png" alt="Logo 4">
  </div>
  <div class="partner doubleWidth">
    <img class="imgwidth" src="../../../assets/partner5.png" alt="Logo 5">
  </div>
</div>


