<app-navbar></app-navbar>
<app-banner></app-banner>
<div class="card">
    <div class="card-body">
      <div class="media">
        <img src="../../../assets/logoEEST3 .png" class="mr-3 avatar" alt="Avatar">
        <div class="media-body">
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora sapiente voluptatum placeat reiciendis
             asperiores, dolorum dolor, ipsa officiis veritatis autem quidem. Voluptatibus autem unde cum ea, quasi consequuntur 
             incidunt temporibus.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="views">
              <i class="bi bi-eye-fill"></i>
              <span>1000 vistas</span>
            </div>
            <div class="likes">
              <i class="bi bi-heart-fill"></i>
              <span>50 likes</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-partner></app-partner>
  <app-footer></app-footer>
  