<footer class="footer" id="contacto">
  <div class="row">
    <div class="col-md-6">
      <div class="mapContainer">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3289.4146610914754!2d-58.51513692477887!3d-34.46700365029007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb032440e58eb%3A0x7979c28d5858dbca!2sCJP%2C%2025%20de%20Mayo%20714%2C%20B1642CJP%20San%20Isidro%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1685159439952!5m2!1ses-419!2sar" 
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
    <div class="col-md-6">
      <div class="informacionContacto">
        <div class="horaApertura text-center">
          <h4>Horarios de Atención</h4>
          <ul>
            <li>Lunes a Viernes: 9:00 AM - 6:00 PM</li>
            <li>Sábados: 9:00 AM - 1:00 PM</li>
          </ul>
        </div>
        <div class="contacto text-center">
          <h4>Contacto</h4>
          <ul>
            <li>Teléfono: +123456789</li>
            <li>Dirección: Calle Principal 123</li>
          </ul>
        </div>
      </div>
      <div class="socialMedia text-center" style="margin-top: 20px;">
        <button class="btn btn-primary btn-block facebookBtn">Compartir en Facebook</button>
        <a href="https://maps.google.com" target="_blank" class="btn btn-secondary btn-block mapsBtn">Ver en Google Maps</a>
      </div>
    </div>
  </div>
</footer>
